jaemzwareArtifacts/*.png
jaemzwareArtifacts/*.jpg
jaemzwareArtifacts/*.jpeg
jaemzwareArtifacts/*.gif
jaemzwareArtifacts/*.mp3
jaemzwareArtifacts/*.htm
jaemzwareArtifacts/*.html
W2m4iaNq.jpeg
/nbproject/private/
analogarchive
media
.idea/*
.idea
