
/* unvisited link */
a:link {
    color: white;
    text-decoration:underline;
}

/* visited link */
a:visited {
    color: white;
    text-decoration:underline;
}

/* mouse over link */
a:hover {
    color: lightblue;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: white;
    text-decoration: underline;
}

body
{
    background-image:url('wall.jpg');
    background-position:center;
    font-size:xx-large;
    color:lightgreen;
}



ul {
    list-style-type:none;
}


